# Compiled class file
*.class
# Log file
*.log
# BlueJ files
*.ctxt
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ud5/hoja3/ej1/target/
/ud5/hoja5/ej1/target/
/ud5/hoja5/ej2/target/
/ud5/hoja3/ej2/nbproject/
/ud5/hoja3/ej2/target/
/reefuerzo/nbproject/
/reefuerzo/target/
/Cuenta/Cuenta/nbproject/
/Cuenta/Cuenta/target/
/ud1/hoja1/ejercicio1/target/
/ud1/hoja1/ejercicio3/target/
/ud1/hoja1/ejercicio4/target/
/ud1/hoja1/ejercicio5/target/
/ud1/hoja2/ejercicio1/target/
/ud1/hoja2/ejercicio2/target/
/ud1/hoja2/ejercicio3/target/
/ud1/hoja2/ejercicio4/target/
/ud1/hoja2/ejercicio5/target/
/ud1/hoja2/ejercicio6/target/
/ud1/hoja2/ejercicio7/target/
/ud1/hoja2/ejercicio8/target/
/ud1/hoja3/ejercicio1/target/
/ud1/hoja3/ejercicio10/target/
/ud1/hoja3/ejercicio2/target/
/ud1/hoja3/ejercicio3/target/
/ud1/hoja3/ejercicio4/target/
/ud1/hoja3/ejercicio5/target/
/ud1/hoja3/ejercicio6/target/
/ud1/hoja3/ejercicio7/target/
/ud1/hoja3/ejercicio8/ejercicio8/target/
/ud1/hoja3/ejercicio8/target/
/ud1/hoja3/ejercicio9/target/
/ud2/Strings/strings2/target/
/ud2/hoja1/ejercicio1/target/
/ud2/hoja2/ejercicio1/target/
/ud2/hoja3/ejercicio1/target/
/ud2/hoja3/ejercicio2/target/
/ud2/hoja3/ejercicio3/target/
/ud2/hoja4/ejercicio1/target/
/ud2/hoja4/ejercicio2/target/
/ud2/hoja4/ejercicio3/target/
/ud2/hoja5/ejercicio1/target/
/ud2/hoja6/ejercicio1/target/
/ud2/hoja7/ejercicio1/target/
/ud2/hoja7/ejercicio2/target/
/ud2/hoja8/ejercicio1/target/
/ud2/hoja8/ejercicio2/target/
/ud2/hoja9/ejercicio1/target/
/ud2/hoja9/ejercicio2/target/
/ud2/sintonizador/target/
/ud3/ejercicioBucles/target/
/ud3/ejercicioaleaatorio/target/
/ud3/ejercicioclase/target/
/ud3/hoja1/ejercicio1/target/
/ud3/hoja1/ejercicio2/target/
/ud3/hoja1/ejercicio3/target/
/ud3/hoja1/ejercicio4/target/
/ud3/hoja2/ejercicio1/target/
/ud3/hoja2/ejercicio2/target/
/ud3/hoja2/ejercicio3/target/
/ud3/hoja2/ejercicio4/target/
/ud3/hoja3/ejercicio1/target/
/ud3/hoja3/ejercicio2/target/
/ud3/hoja4/ejercicio1/target/
/ud3/hoja4/ejercicio2/target/
/ud3/hoja4/ejercicio3/target/
/ud3/hoja4/ejercicio4/target/
/ud3/hoja4/ejercicio5/target/
/ud3/hoja4/ejercicio6/target/
/ud3/hoja4/ejercicio7/target/
/ud3/hoja5/ejercicio1/target/
/ud3/hoja5/ejercicio2/target/
/ud3/hoja5/ejercicio4/target/
/ud3/hoja6/ejercicio1/target/
/ud3/hoja8/ejercicio1/target/
/ud3/hoja8/ejercicio2/target/
/ud4/Hoja1/ejercicio2/target/
/ud4/Hoja1/ejercicio3/target/
/ud4/Hoja1/ejercicio4/target/
/ud4/Hoja1/ejercicio5/target/
/ud4/Hoja1/ejercicio6/target/
/ud4/Hoja1/ejercicio7/target/
/ud4/Operaciones/target/
/ud4/fechas/ejercicio1/target/
/ud4/fechas/ejercicio2/target/
/ud4/hoja2/ejercicio1/target/
/ud4/hoja2/ejercicio2/target/
/ud4/hoja2/ejercicio3/target/
/ud4/hoja2/ejercicio4/target/
/ud4/hoja3/ejercicio1/target/
/ud4/hoja3/ejercicio2/target/
/ud4/hoja3/ejercicio3/target/
/ud4/hoja3/ejercicio4/target/
/ud4/hoja4/ejercicio1/target/
/ud4/hoja4/ejercicio2/target/
/ud4/hoja5/ejercicio1/target/
/ud4/hoja5/ejercicio2/target/
/ud4/hoja5/ejercicio3/target/
/ud4/hoja6/ejercicio2/target/
/ud4/hoja7/ejercicio1/target/
/ud4/hoja8/ejercicio1/target/
/ud4/main/Persona/target/
/ud4/main/ejercicio1/target/
/ud4/main/ejercicio3/target/
/ud5/hoja1/ej3/target/
/ud5/hoja2/ej2/target/
/ud5/hoja2/tienda/target/
/ed/Cuenta/Cuenta/nbproject/
/ed/Cuenta/Cuenta/target/
/ed/reefuerzo/target/
/ed/reefuerzo/nbproject/
/entornos/Cuenta/Cuenta/nbproject/
/entornos/Cuenta/Cuenta/target/
/entornos/reefuerzo/target/
/entornos/reefuerzo/nbproject/
/ud5/hoja4/ej1/target/
/ud5/hoja4/ej2/target/
/hoja6/ej1/target/
/ud5/hoja7/ej1/target/
/ud6/Ejemplos06/ejemplo01/target/
/ud6/Ejemplos06/ejemplo02/target/
/ud6/Ejemplos06/ejemplo03/target/
/ud6/Ejemplos06/ejemplo04/target/
/ud6/Ejemplos06/ejemplo05/target/
/ud6/Ejemplos06/ejemplo06/target/
/ud6/Ejemplos06/ejemplo07/target/
/ud6/Ejemplos06/ejemplo08/target/
/ud6/Ejemplos06/ejemplo09/target/
/ud6/Ejemplos06/ejemplo10/target/
/Utils/target/
/ud6/hoja1/ej1/target/
/ud6/hoja1/ej2/target/
/ud6/ej1/target/
/ud6/hoja3/ej5/target/
/recuperaciones/examen ficheros/ejercicio2/target/
/recuperaciones/examen ficheros/ejercicio1/target/
